@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito+Sans:opsz@6..12&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
}
html{
    /*me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
}

/* MENU */

.contenedor-header{
    background: #956f58 ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Abril Fatface';
    font-size: 36px;
    color: #4a3930;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #131517;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #4a3930;
}
.nav-responsive{
    background-color: #4a3930;
    color: #131517;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */

.inicio{
    background: url(../img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #131517;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #956f58;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 50px;
    border: 10px solid #4a3930;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 33px;
    font-size: 35px;
    font-family: 'Abril Fatface';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #131517;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #131517;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #4a3930;
}

/* SECCION SOBRE MI */

.sobremi{
    background-color: #956f58;
    color: #131517;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Abril Fatface';
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #4a3930;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Abril Fatface';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #4a3930;
    width: 130px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #dbbfaa;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #4a3930;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #131517;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    position: relative;
    z-index: 10;
}
.sobremi button a{
    text-decoration: none;
    color: #131517;
    font-size: 16px;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4a3930;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100% ;
}
/* SECCION SKILLS*/
.skills{
    background-color: #f6f0e4;
    color: #131517;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Abril Fatface';
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Abril Fatface';
    margin-bottom: 25px;
}
.skills .skill > span{
 font-weight: bold;
 display: block;
 margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #dbbfaa;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #dbbfaa;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/*Estas clases se agregaran dinamicamente mediantes javascript*/
.skills .skill .html{
    width: 0%;
    animation: 2s html forwards;
}
@keyframes html {
    0%{width: 0%;}
    100%{width: 80%;}    
}

.skills .skill .css{
    width: 0%;
    animation: 2s css forwards;
}
@keyframes css {
    0%{width: 0%;}
    100%{width: 50%;}    
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 65%;}    
}

.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 25%;}    
}

.skills .skill .php{
    width: 0%;
    animation: 2s php forwards;
}
@keyframes php {
    0%{width: 0%;}
    100%{width: 40%;}    
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}    
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}    
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 85%;}    
}

.skills .skill .responsabilidad{
    width: 0%;
    animation: 2s responsabilidad forwards;
}
@keyframes responsabilidad {
    0%{width: 0%;}
    100%{width: 90%;}    
}

.skills .skill .aprendizaje{
    width: 0%;
    animation: 2s aprendizaje forwards;
}
@keyframes aprendizaje {
    0%{width: 0%;}
    100%{width: 75%;}    
}

/*SECCION CURRICULUM*/
.curriculum{
    background-color: #956f58;
    color: #131517;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Abril Fatface';
    text-align: center;
    padding: 20px 0;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 45%;
    padding: 0 20px;

}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Abril Fatface';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #4a3930;
}
.curriculum .fila .derecha{
    border-left: 2px solid #4a3930;
}
.curriculum .fila .item{
    padding: 25px;
    margin-top: 30px;
    background-color: #dbbfaa;
    position: relative;
}
.curriculum .fila .proyecto{ /**/
    padding: 25px;
    margin-top: 30px;
    background-color: #dbbfaa;
    position: relative;
    width: fit-content;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .proyecto h4{ /**/
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #4a3930;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #4a3930;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #4a3930;
    margin-right: 20px;
}
.curriculum .fila .proyecto{ /**/
    border-left: 2px solid #4a3930;
    margin-left: 20px;
}
.curriculum .fila .proyecto img{
    width: 400px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #4a3930;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #4a3930;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .proyecto .conectord{ /**/
    height: 2px;
    background-color: #4a3930;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .proyecto .conectord .circulod{ /**/
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #4a3930;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION CERTIFICACIONES*/
.certificaciones{
    background-color: #f6f0e4;
    color: #131517;
    padding: 50px 20px;
}
.certificaciones .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.certificaciones h2{
    font-size: 48px;
    font-family: 'Abril Fatface';
    text-align: center;
    padding: 20px 0;
}
.certificaciones .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.certificaciones .galeria .proyecto{
    position: relative;
    max-width: 200px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;    
}
.certificaciones .galeria .proyecto img{
    width: 100%;
    display: block;
}
.certificaciones .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(232,204,244,.8), rgba(232,204,244,.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.certificaciones .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.certificaciones .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.certificaciones .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}



.certificaciones .ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.certificaciones .ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.certificaciones .ful-img img{
    width: 90%;
    max-width: 600px;
}


/* SECCION CONTACTO */
.contacto{
    background-color: #956f58;
    color: #131517;
    padding: 50px 0;
}
.contacto form{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Abril Fatface';
    text-align: center;
    padding: 20px 0;
}
.contacto .formulario{
    width: 50%;
    margin: auto;
    position: relative;
}
.contacto .formulario input, .contacto .formulario textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #d8d8d8;
    color: #131517;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #131517;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #131517;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4a3930;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}

/* SECCION FOOTER */

footer{
    background-color: #f6f0e4;
    color: #131517;
    padding: 50px 0 30px 0;
    position: relative;
    width: 100%;
}
footer .arriba {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: #956f58;
    color: #131517;
    border-radius: 50%;
    font-size: 18px;
    line-height: 50px; 
}

footer .pie{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
footer .pie .contact{
    text-align: center;
    padding: 0 90px;
}
footer .pie .contact .red{
    font-weight: bold;
}
footer .pie .contact .red i{
    margin-right: 5px;
    color:#956f58
}
footer .pie .contact .dato{
    font-size: 13px;
}
footer .redes a{
    color: #131517;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #131517;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 5px 5px;
    font-size: 15px;
    transition: .3s;
}
footer .redes a:hover{
    background-color: #956f58;
}

/* SECCION RESPONSIVE*/
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #baacac;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #4a3930;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .sobremi .fila .col .contenedor-intereses .interes{
        width: 90px;
        height: 90px;
    }


    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum.fila .derecha{
        margin-left: 20px;
    }

    .certificaciones .galeria{
        display: block;
        width: 100%;
    }
    .certificaciones .galeria .proyecto{
        max-width: 100%;
    }
    .certificaciones .galeria .proyecto img{
        width: 100%;
    }
    
    .contacto .formulario{
        display: block;
        width: 70%;
    }   

    footer .pie{
        display: block;
        width: 100%;
    }
}